html,
body {
  font-family: "Roboto", sans-serif;
}

.card-title{
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  font-weight: bold;
  color: #2c2c2c;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 12rem;
  height: 4rem; 
}

.card{
  width: 16rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-radius: 5px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s;
  padding: 1rem;
  margin-bottom: 2rem;  
}

.card:hover {
  transform: scale(1.1) translateY(-5px);
  /* cursor: pointer; */
}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.lixo{
  align-self: flex-end;
  width: 35px;
  height: 35px;
}
.pen{
  align-self: flex-end;
  width: 35px;
  height: 35px;
}
.card-content{
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  font-family: 'Permanent Marker', cursive;
  /* font-size: 1.5em; */
  /* font-weight: bold; */
  /* color: #2c2c2c; */
  overflow: hidden;
  text-overflow: ellipsis;
  width: 12rem;
  height: 4rem; 
}

.btn-update{
  background-color: transparent;
  border: None;
}
.btn-update:hover {
  transform: scale(1.3); 
  cursor: pointer;
}

.btn-delete{
  background-color: transparent;
  border: None;
  /* clip-path: circle(46.5% at 50% 50%); */
}
.btn-delete:hover {
  transform: scale(1.3); 
  cursor: pointer;
}

.card-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-main{
  /* display: flex;
  flex-wrap: wrap;
  font-family: 'Permanent Marker', cursive;
  overflow: hidden;
  text-overflow: ellipsis; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.appbar{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: 100%;
  height: 72.5px;
  background-color: #f7d736;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo{
  margin-left:10px;
  padding-top:5px;
  width: 95px;
  height: 60px;
}

.subtitle{  
  font-size: 20px;
  margin: 10px;
  padding-top: 15px;
}

.main.container{
  /* width: 35%; */
  height: 100%;
}

.form-card{
  margin: 25px;
  padding: 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 32.5%;
  height: 6.5rem;
  border-radius: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
}

.form-card-title{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 10px;
  border-width: 0px;
}

.autoresize{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 10px;
  border-width: 0px;
  overflow: hidden;
}

.btn > * {
position: relative;
}

.card-color{
  background-color: #ead3a7;
}
.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 

.btn {
  position: relative;
  display: block;
  padding: 10px 10px 10px 10px; 
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #f7d736;
  transition: background-color 0.3s;
  font-weight: bold;
}
.card-color-1 {
background-color: #ead3a7
}
.card-color-2 {
background-color: #9de0f5
}
.card-color-3 {
background-color: #ef89ba
}
.card-color-4 {
background-color: #fae890
}
.card-color-5{
background-color: #abe9c1
}
.card-rotation-1{
transform: rotate(10deg);
}
.card-rotation-2{
transform: rotate(-10deg);
}
.card-rotation-3{
transform: rotate(-5deg);
}
.card-rotation-4{
transform: rotate(7deg);
}
.card-rotation-5{
transform: rotate(-2deg);
}
.card-rotation-6{
transform: rotate(4deg);
}
.card-rotation-7{
transform: rotate(6deg);
}
.card-rotation-8{
transform: rotate(-3deg);
}
.card-rotation-9{
transform: rotate(-2deg);
}
.card-rotation-10{
transform: rotate(4deg);
}
.card-rotation-11{
transform: rotate(-4deg);
}