{% extends "notes/base.html" %}
{% load static %}
{% block content %}
<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>
<main class="container">
    <form class="form-card" method="post">
      {% csrf_token %}
      <input type="hidden" name="verb" value="update"/>
      <input type="hidden" name="id" value={{note.id}}/>  
      <input class="form-card-title" type="text" name="titulo" value=""/>
      <input class="autoresize" type="text" name="detalhes" value=""/>   
      <button class="btn" type="submit">Salvar</button>
    </form>
</main>
{% endblock %}